.list-col img {
  box-shadow: 10px 10px 0px 0px #d4d4d4;
  margin-bottom: 20px; }

.list-col h4 {
  font-weight: bold;
  margin-bottom: 15px; }
  .list-col h4 a {
    color: #7353ad; }

.list-col p {
  line-height: 25px;
  letter-spacing: 2px; }

.list-row h4 {
  margin-top: 30px; }
  .list-row h4 a {
    font-size: 20px;
    color: #7353ad;
    letter-spacing: 1px; }

.list-row p {
  margin-top: 5px; }
