
.list-col
			img
				box-shadow: 10px 10px 0px 0px rgba(212,212,212,1)
				margin-bottom: 20px
			h4
				font-weight: bold
				margin-bottom: 15px
				a
					color: #7353ad
			p
				line-height: 25px
				letter-spacing: 2px
.list-row
	h4
		margin-top: 30px
		a
			font-size: 20px
			color: #7353ad
			letter-spacing: 1px
	p
		margin-top: 5px
